<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="checkCredential()" class="form-group">
    <fieldset>
      <div class="row">
        <div class="col-md-4"><h2>Login Page</h2></div>
      </div>
      <div class="row">
        <div class="col-md-2"><label>Email</label></div>
        <div class="col-md-2">
          <input type="text" formControlName="email" class="form-control" />
          <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-danger">
            Please enter a valid email.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2"><label>Password</label></div>
        <div class="col-md-2">
          <input type="password" formControlName="password" class="form-control" />
          <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger">
            Password is required.
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4"><label>Type Of Login</label></div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <input type="radio" value="user" formControlName="typeofuser" />
          <label>User</label>
          <input type="radio" value="admin" formControlName="typeofuser" />
          <label>Admin</label>
          <div *ngIf="loginForm.get('typeofuser')?.invalid && loginForm.get('typeofuser')?.touched" class="text-danger">
            Please select a user type.
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <input type="submit" value="Sign In!" class="btn btn-success" [disabled]="loginForm.invalid" />
          <input type="reset" value="Reset" class="btn btn-warning" />
        </div>
      </div>
    </fieldset>

    <div class="row">
      <div class="col-md-4">
        <a routerLink="/userSignUp" class="link-primary">
          <img src="https://st.depositphotos.com/1823785/4664/i/950/depositphotos_46647307-stock-photo-hands-holding-sign-up.jpg" width="130" height="30" />
        </a>
        <br />
      </div>
    </div>
  </form>

  <span style="color: red">{{ message }}</span>
</div>
